.text1{
font-family: tahoma;
color: green;

font-size: 20px;
}
.text2{
font-family: tahoma;
color: brown;
text-align:width:330px;

font-size: 20px;
}
.li1{
	font-family: tahoma;

}
.li2{
font-family: tahoma;
}
.li3{
font-family: tahoma;
}
.li4{
font-family: tahoma;
}